/* In dieser style.css Datei wird die Anpassung von der dashboard.html mit CSS Code Händisch angepasst. */

/* Stil für das Abmelde-Pop up und den Underlay */
#underlay_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    /* Anfangs ist der Underlay nicht sichtbar */
    display: none;

    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

#abmelde_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #343a40;
    color: #f8f9fa;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    z-index: 1000;

    /* Anfangs ist das Pop up nicht sichtbar */
    display: none;

    transition: opacity 0.3s ease;
    opacity: 0;
}

#abmelden {
    cursor: pointer;
}

.neon-akzent {
    /* Purpur-Akzentfarbe */
    color: #7F00FF;
    
    /* Neon-Glow-Effekt */
    text-shadow: 
        0 0 7px rgba(127, 0, 255, 0.7), 
        0 0 12px rgba(127, 0, 255, 0.4);
}

#abbruch_button, #abmelde_button {
    border-radius: 5px;
    border: none;
    text-align: center;

    background-color: #7F00FF;
    color: white;

    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 10px;

    font-size: 1.1rem;
    font-weight: 700;

    width: 200px;
    box-shadow: 0 5px 15px rgba(127, 0, 255, 0.3); 
    transition: background-color 0.35s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
#abbruch_button {
    margin-bottom: 25px;
}

#abbruch_button:hover, #abmelde_button:hover {
    background-color: #6300CC; 
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(127, 0, 255, 0.5); 
}

#abmelde-p-popup {
    font-size: 30px;
    margin-bottom: 30px;
}