/* In dieser style.css Datei wird die Anpassung von der dashboard.html mit CSS Code Händisch angepasst. */
html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Stil für das Abmelde-Pop up und den Underlay */
#underlay_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    /* Anfangs ist der Underlay nicht sichtbar */
    display: none;

    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

#abmelde_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #343a40;
    color: #f8f9fa;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    z-index: 1000;

    /* Anfangs ist das Pop up nicht sichtbar */
    display: none;

    transition: opacity 0.3s ease;
    opacity: 0;
}

#abmelden {
    cursor: pointer;
}

#abmelden:hover {
    text-decoration: underline !important;
}

#username {
    font-weight: 600;
    color: #7d838a;
}

.neon-akzent {
    /* Purpur-Akzentfarbe */
    color: #7F00FF;

    /* Neon-Glow-Effekt */
    text-shadow:
        0 0 7px rgba(127, 0, 255, 0.7),
        0 0 12px rgba(127, 0, 255, 0.4);
}

#abbruch_button,
#abmelde_button {
    border-radius: 5px;
    border: none;
    text-align: center;

    background-color: #7F00FF;
    color: white;

    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 10px;

    font-size: 1.1rem;
    font-weight: 700;

    width: 200px;
    box-shadow: 0 5px 15px rgba(127, 0, 255, 0.3);
    transition: background-color 0.35s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#abbruch_button {
    margin-bottom: 25px;
}

#abbruch_button:hover,
#abmelde_button:hover {
    background-color: #6300CC;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(127, 0, 255, 0.5);
}

#abmelde-p-popup {
    font-size: 30px;
    margin-bottom: 30px;
}

#profil-css {
    transition: transform 0.3s ease;
}

#profil-css:hover {
    box-shadow: none !important;
    outline: none !important;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/*Div Containers*/

#cssportal-grid {
    display: grid;
	grid-template-rows: repeat(12, 1fr);
	grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    margin: 20px;
    width: calc(100% - 40px);  /* 100% minus 2x 20px Margin */
    height: 88vh;  /* 100vh minus 2x 20px Margin */
}

#div1 {
	grid-area: 4 / 1 / 10 / 2;
}
#div2 {
	grid-area: 1 / 1 / 3 / 9;
}
#div3 {
	grid-area: 1 / 9 / 11 / 11;
}
#div4 {
	grid-area: 11 / 3 / 13 / 11;
}
#div5 {
	grid-area: 11 / 1 / 13 / 3;
}
#div6 {
	grid-area: 3 / 2 / 11 / 5;
}
#div7 {
	grid-area: 3 / 5 / 11 / 9;
}

#cssportal-grid > div {
    border-radius: 10px;
    background: #1d1021;

    display: flex;
    align-items: center;    /* Vertikale Zentrierung */
    justify-content: center; /* Horizontale Zentrierung */
}